
\.sync/

Develop/NewReset\.vpp\.bak_000f

Develop/NewReset\.vpp\.bak_001d

Develop/NewReset\.vpp\.vbak

_gsdata_/_file_state_v4\._gs

_gsdata_/_insync_v4\.gsl

_gsdata_/2018-0521-083522-DESKTOP-KHC70BP-SyncTest\.log

_gsdata_/2018-0521-124555-DESKTOP-KHC70BP-SyncTest\.log

_gsdata_/
